:root {
  --js-background: rgb(10,28,50);
  --js-background-blend: radial-gradient(circle, rgba(10,28,50,1) 0%, rgba(12,40,80,1) 35%, rgba(6,9,26,1) 100%);
  --js-blendmode-title: difference;
  --js-font-title: '';
  --js-title-blend: '';
  /* Cursor styles */
	--cursor-stroke: #a9f4ff;
	--cursor-fill: none;
	--cursor-stroke-width: 5px;
}

body {
  background: var(--js-background);
  background: var(--js-background-blend);
  background-repeat: no-repeat;
  color: #FFF;
  min-height: 100vh; /* allows room for scrolling to see parallax */
  height: 100%;
}


.site-name {
  font-weight: 700;
	position: fixed;
  z-index: 1;
	font-size: 28vw;
	mix-blend-mode: var(--js-blendmode-title);
	-webkit-text-stroke: 2px var(--cursor-stroke);
	text-stroke: 2px var(--cursor-stroke);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
  pointer-events: none;
  top: 45%;
  left: 51%;
  transform: translate(-50%, -50%);
  line-height: 0.875;
	opacity: 0.125;
	font-family: sans-serif;
}

@media (any-pointer: fine) {
	.animated-cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		opacity: 0;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
}